asgiref==3.9.1
Django==5.2.4
django-allauth==65.10.0
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
pillow==11.3.0
psycopg==3.2.9
psycopg-binary==3.2.9
PyJWT==2.9.0
pyotp==2.9.0
python-dotenv==1.1.1
sqlparse==0.5.3
